<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Xử lý dữ liệu 1000 bản ghi</h1>
<ul>
    <li><a href="/example">Hoc Java Collection</a></li>
    <li><a href="/groupbycity">Nhóm người theo từng thành phố</a></li>
    <li><a href="/devhanoisaigoshanghai">Hiển thị danh sách developer trong thành phố</a></li>
    <li><a href="/youngestdevs">Thành phố có độ tuổi trung bình của lập trình viên trẻ nhất</a></li>
    <li><a href="/malefemaleratio">Tỷ lệ nam/nữ ở từng thành phố</a></li>
    <li><a href="/avgsalarypeopleabove30">Mức lương trung bình của tất cả những người trên 30 tuổi</a></li>
</ul>
</body>
</html>